// https://coolors.co/011936-465362-fefadc-ce4760-69a2b0 (ignore cadet blue)

body,html { margin: 0; }

body {
    background-color: #FEFADC;
    color: #465362;
    text-align: center;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

// select only Safari - https://stackoverflow.com/a/25975282
_::-webkit-full-page-media, _:future, :root body {
    // stupid mobile Safari https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/
    // seems to break desktop chrome
    min-height: -webkit-fill-available;
}

main {
    max-width: 1300px;
}

h1 {
    color: #0D1B2A;
    font-size: 6em;
}

main p {
    font-size: 2em;
    color: #465362;
}

p.attribution {
    font-size: 1.4em;
}

a {
    color: #CE4760;
}

a:visited {
    color: #878E99;
}

h1 .since {
    text-decoration: underline;
}

footer {
    padding-bottom: 1em;
}

header {
    width: 100%;
    font-size: 1.5em;
    display: grid;
    grid-template-rows: 1fr 1fr;

    div {
        padding: 0.2em;
    }

    .top {
        background-color: #0057b7;
        color: #ffffff;
    }

    .bottom {
        background-color: #ffd700;
        color: #000000;

        a {
            color: #000000;
        }

        display: grid;
    }

    .inner {
        align-self: center;
    }
}
