<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-12922701-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-12922701-4');
    </script>
    <meta charset="utf-8">
    <title>{% if current_page.data.title %}{{ current_page.data.title | escape }} || {% endif %}How Many Days Has It Been Since a JWT alg=none Vulnerability?</title>
    {% stylesheet_link_tag styles %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@zofrex" />
    <meta property="og:title" content="{% if current_page.data.title %}{{ current_page.data.title | escape }} || {% endif %} How Many Days Has It Been Since a JWT alg=none Vulnerability?" />
    {% if_content_for description %}
    <meta property="og:description" content="{% yield_content description escape %}" />
    {% end_if_content_for %}
  </head>
  <body>
    <main>
      {{ yield }}
    </main>
    <footer>
      <p class="attribution">made by <a href="https://www.zofrex.com">zofrex</a></p>
      <p>out of date? <a href="https://twitter.com/zofrex">@ me on Twitter</a></p>
    </footer>
  </body>
</html>
