<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-12922701-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-12922701-4');
    </script>
    <meta charset="utf-8">
    <title>How Many Days Has It Been Since a JWT alg:none Vulnerability?</title>
    {{- $style := resources.Get "styles.scss" | css.Sass }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@zofrex" />
    <meta property="og:title" content="How Many Days Has It Been Since a JWT alg:none Vulnerability?" />
    <meta property="og:description" content="{{ block "description" . }}{{ end }}" />
  </head>
  <body>
    <header>
      <div class="top"><div class="inner">The more important statistic is that it has been {{ partial "since.html" .Site.Data.misc.russian_invasion_of_ukraine }} since Russia invaded Ukraine.</div></div>
      <div class="bottom"><div class="inner">Ukraine needs our help and support. If you can, please <a href="https://www.forbes.com/sites/gabbyshacknai/2022/02/24/10-ways-to-help-the-people-of-ukraine-right-now/">donate</a>.</div></div>
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      <p class="attribution">made by <a href="https://www.zofrex.com">zofrex</a></p>
      <p>out of date? <a href="https://twitter.com/zofrex">@ me on Twitter</a></p>
    </footer>
  </body>
</html>
