{% assign latest_vuln = data.vulns | sort: "date" | last %}

{% content_for description %}It has been {{ latest_vuln.date | since }} since the last alg=none JWT vulnerability.{% end_content_for %}

<h1>It has been <span class="since">{{ latest_vuln.date | since }}</span> since the last alg=none JWT vulnerability.</h1>

<p>{{ latest_vuln.description }}</p>
